{% extends 'layouts/base.html'%}

{% block content %}

    {% include 'blocks/organization/head.html' %}

    {% include 'blocks/organization/tags.html' %}

    {% include 'blocks/organization/menu.html' %}

    <div class="org--general">
        <div class="org--general__main">
            <div class="white-box org--currents">
                <header class="org--currents__header">
                    <h3 class="title">Поточний стан</h3>

                    <div class="select">
                        <div class="select__header"></div>
                        <ul class="select__opts">
                            <li class="select__opt" data-value="12">Квартал</li>
                            <li class="select__opt" data-value="24">Півріччя</li>
                            <li class="select__opt" data-value="48">Рік</li>
                        </ul>
                        <input type="hidden" value="" name="" />
                    </div>
                </header>

                <div class="org--currents__temp">
                    <div class="org--currents__temp_value">27<small>°C</small></div>
                    <div class="org--currents__temp_desc">
                        <div class="org--params__icon"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#iconThermalEnergy"></use></svg></div>
                        <span>Температура в приміщеннях</span>
                    </div>
                    <div class="org--currents__temp_middle">
                        <div class="org--currents__temp_chart"></div>
                        <div class="org--currents__temp_diff"></div>
                        <span>відношення до середньорічної температури</span>
                    </div>
                </div>
                <div class="org--currents__chart"></div>
                <div class="org--currents__params">
                    <div class="org--currents__group">
                        <header>
                            <div class="org--params__icon"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#iconThermalEnergy"></use></svg></div>
                            Відповідальність / Група
                        </header>
                        <strong>586.75</strong>
                        <small>1</small>
                    </div>
                    <div class="org--currents__itp">
                        <header>
                            <div class="org--params__icon"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#iconThermalEnergy"></use></svg></div>
                            Стан ІТП
                        </header>
                        <strong>6,937</strong>
                    </div>
                    <div class="org--currents__eclass">
                        <header>
                            <div class="org--params__icon"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#iconThermalEnergy"></use></svg></div>
                            Клас енергоефективності:
                        </header>
                        <strong>E</strong>
                        <div class="org--currents__eclassicon">
                            <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="white-box">
                Поточний стан
                <br>
                <br>
                <br>
            </div>
            <div class="white-box">
                Поточний стан
                <br>
                <br>
                <br>
            </div>
        </div>
        <div class="org--general__sidebar">
            <div class="white-box">
                Поточний стан
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>

{% endblock %}
