{% extends 'layouts/base.html'%}

{% block content %}

    {% include 'blocks/organization/head.html' %}

    {% include 'blocks/organization/tags.html' %}

    {% include 'blocks/organization/menu.html' %}

    <div class="org--main">
        <div class="org--main__content">
            <div class="white-box org--currents">
                <header class="org--currents__header">
                    <h3 class="title">Поточний стан</h3>

                    <div class="select">
                        <div class="select__header"></div>
                        <ul class="select__opts">
                            <li class="select__opt" data-value="12">Квартал</li>
                            <li class="select__opt" data-value="24">Півріччя</li>
                            <li class="select__opt" data-value="48">Рік</li>
                        </ul>
                        <input type="hidden" value="" name="" />
                    </div>
                </header>

                <div class="org--currents__info">
                    <div class="org--currents__temp">
                        <div class="org--currents__value">23.7<small>°C</small></div>
                        <div class="org--currents__desc">
                            <div class="org--currents__icon"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#iconTemperature"></use></svg></div>
                            <span>Температура в&nbsp;приміщеннях</span>
                        </div>
                        <div class="org--currents__middle">
                            <div class="org--currents__plot"></div>
                            <div class="org--currents__diff">
                                <div class="org--currents__icon up {# down #}"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#arrowBack"></use></svg></div>
                                6%
                            </div>
                            <span>відношення до середньорічної температури</span>
                        </div>
                    </div>

                    <div class="org--currents__chart">
                        <div class="org--currents__chartlabels">
                            <div class="org--currents__chartlabel"><span></span> Зовнішня температура: <b>8,7°С</b></div>
                            <div class="org--currents__chartlabel"><span></span> Відносна норма: <b>13,5°С</b></div>
                        </div>
                    </div>
                </div>

                <div class="org--currents__params">
                    <div class="org--currents__group">
                        <header>
                            <div class="org--currents__icon"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#iconResponsibility"></use></svg></div>
                            <span>Відповідальність / Група</span>
                        </header>
                        <strong>586.75</strong>
                        <small>1</small>
                    </div>
                    <div class="org--currents__itp">
                        <header>
                            <div class="org--currents__icon"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#iconStateitp"></use></svg></div>
                            <span>Стан ІТП</span>
                        </header>
                        <strong>6,937</strong>
                    </div>
                    <div class="org--currents__eclass">
                        <header>
                            <div class="org--currents__icon"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#iconEclass"></use></svg></div>
                            <span>Клас енергоефективності:</span>
                        </header>
                        <strong>E</strong>
                        <div class="org--currents__eclass_icon">
                            <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="org--main__sidebar">
            <div class="white-box">
                Поточний стан
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>

{% endblock %}
