.welcome {
  position: relative;
  width: calc(100% + 32px);
  margin-left: -16px;
  margin-right: -16px;
  padding: 48px 32px 36px;
  box-sizing: border-box;
  border-radius: 12px;
  background-color: #304156;
  background-repeat: no-repeat;
  background-position: calc(100% + 260px) calc(100% + 60px);
  background-size: 400px 375px;
  background-image: url(/static/build/img/asem-pattern.svg);

  @media (min-width: 768px) {
    width: 100%;
    margin: 0;
    padding: 48px 60px;
    background-position: calc(100% + 100px) 52%;
    background-size: 650px 610px;
  }

  @media (min-width: 1024px) AND (max-width: 1279px) {
    background-position: calc(100% + 280px) 52%;
  }

  &__title {
    padding: 0;
    margin: 0 0 10px;
    line-height: 36px;
    font-size: 32px;
    color: #FFF;
  }

  &__text {
    line-height: 24px;
    font-size: 15px;
    color: rgba(#FFF, .5);

    @media (min-width: 1024px) AND (max-width: 1279px) {
      max-width: 360px;
    }
  }

  &__close {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #FFF;
    cursor: pointer;

    @media (min-width: 768px) {
      top: 10px;
      right: 8px;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 2px;
      height: 16px;
      margin: -8px 0 0 -1px;
      background: rgba(#304156, 0.6);
      transition: transform .3s ease-out;
    }
    &:before {
      transform: rotate(-45deg);
    }
    &:after {
      transform: rotate(45deg);
    }

    &:hover {
      &:before {
        transform: rotate(-135deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 36px;
    margin: 20px 0 0;
    color: #FFF;
    line-height: 22px;
    font-size: 14px;
    text-decoration: none;
    border: 1px solid #FFF;

    &:hover {
      color: #304156;
      background-color: #FFF;
    }
  }
}

.darktheme .welcome {
  background-color: rgba(#FFF, 0.04);
}
