{% extends 'layouts/base.html'%}

{% block content %}

    {% include 'blocks/organisation-head.html' %}

    {% include 'blocks/organisation-tags.html' %}

    {% include 'blocks/organisation-menu.html' %}

    <div class="white-box org--contacts">

        <h1 class="title org--contacts__title">Контактні дані (4)</h1>

        <div class="org--contacts__table">
            <table id="contacts-table" class="dt-table">
                <thead>
                <tr>
                    <th data-sortable="false"></th>
                    <th>Роль</th>
                    <th>ПІБ</th>
                    <th>Посада</th>
                    <th>Телефон</th>
                    <th>Email</th>
                    <th>Статус</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Енергоменеджер</td>
                    <td>Ремез М. В.</td>
                    <td>Керівник</td>
                    <td><a href="tel:+380675858965">+380 67 5858965</a></td>
                    <td><a href="mailto:rewez_max@ukr.net">rewez_max@ukr.net</a></td>
                    <td>2<span class="tooltip" alt="Активований"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#checkAsem"></use></svg></span></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Керівник</td>
                    <td>Новосьол Ігор Миколайвоич</td>
                    <td>Керівник</td>
                    <td><a href="tel:+380955896978">+380 95 5896978</a></td>
                    <td><a href="mailto:somelonglongusername@mailscom.ua">somelonglongusername@mailscom.ua</a></td>
                    <td>2<span class="tooltip" alt="Активований"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#checkAsem"></use></svg></span></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Енергоменеджер</td>
                    <td>Уваркін Микола Миколайвоч</td>
                    <td>Заступник</td>
                    <td><a href="tel:+380444411041">+380 44 4411041</a></td>
                    <td><a href="mailto:username@mailservice.com">username@mailservice.com</a></td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Співробітник</td>
                    <td>Пензін Андрій Вікторвич</td>
                    <td>Інженер</td>
                    <td><a href="tel:+380445420010">+380 44 5420010</a></td>
                    <td><a href="mailto:username@mail.com">username@mail.com</a></td>
                    <td>1<span class="tooltip" alt="Запрошення"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#waitingAsem"></use></svg></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
