{% extends 'layouts/base.html'%}

{% block content %}

    <div class="white-box orglist">
        <header class="orglist--header">
            <h1 class="title">Доступні організації (3)</h1>
            <ul class="orglist--header__tabs">
                <li>Очікують</li>
                <li>Видалені</li>
            </ul>
            <div class="orglist--header__view">
                <div class="orglist--header__list current"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#iconList"></use></svg></div>
                <div class="orglist--header__grid"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#iconGrid"></use></svg></div>
            </div>
        </header>

        <div class="orglist__container">

            <div class="orglist--filters">
                <div class="orglist--filters__name">Назва</div>
                <div class="orglist--filters__empty"></div>
                <div class="orglist--filters__address">Адреса</div>
                <div class="orglist--filters__blocks">Блоки</div>
                <div class="orglist--filters__role">Роль</div>
                <div class="orglist--filters__empty"></div>
            </div>

            <div class="orglist__item">
                <div class="orglist__img"><img src="static/build/img/organizations/org1.webp" decoding="async" loading="lazy" alt="" /></div>
                <div class="orglist__name">ОСББ Петровський</div>
                <div class="orglist__address">Київ, blvd Perova 10a</div>
                <div class="orglist__blocks">3</div>
                <div class="orglist__role">Aдміністратор закладу</div>
                <a href="" class="btn btn_green orglist__btn">Деталі</a>
                <div class="orglist--menu">
                    <div class="orglist--menu__btn"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#iconEllipsis"></use></svg></div>
                    <ul class="orglist--menu__list">
                        <li class="orglist--menu__item"><a href="">Деталі</a></li>
                        <li class="orglist--menu__item"><a href="">В сравнение</a></li>
                        <li class="orglist--menu__item"><a href="">Додати блок</a></li>
                        <li class="orglist--menu__item"><a href="">Редагувати</a></li>
                        <li class="orglist--menu__item orglist--menu__item_del"><a href="">Видалити</a></li>
                    </ul>
                </div>
            </div>

            <div class="orglist__item">
                <div class="orglist__img"><img src="static/build/img/organizations/org2.webp" decoding="async" loading="lazy" alt="" /></div>
                <div class="orglist__name">ОСББ «Мотор» Мотор</div>
                <div class="orglist__address">Київ, prosp Navoi 69</div>
                <div class="orglist__blocks">155</div>
                <div class="orglist__role">Користувач</div>
                <a href="" class="btn btn_green orglist__btn">Деталі</a>
                <div class="orglist--menu">
                    <div class="orglist--menu__btn"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#iconEllipsis"></use></svg></div>
                    <ul class="orglist--menu__list">
                        <li class="orglist--menu__item"><a href="">Деталі</a></li>
                        <li class="orglist--menu__item"><a href="">В сравнение</a></li>
                        <li class="orglist--menu__item"><a href="">Додати блок</a></li>
                        <li class="orglist--menu__item"><a href="">Редагувати</a></li>
                        <li class="orglist--menu__item orglist--menu__item_del"><a href="">Видалити</a></li>
                    </ul>
                </div>
            </div>

            <div class="orglist__item">
                <div class="orglist__img"><img src="static/build/img/organizations/org3.webp" decoding="async" loading="lazy" alt="" /></div>
                <div class="orglist__name">ОСББ «Aртемівский»</div>
                <div class="orglist__address">Київ, вул. Бакінська 37-д</div>
                <div class="orglist__blocks">145</div>
                <div class="orglist__role">Aдміністратор закладу</div>
                <a href="" class="btn btn_green orglist__btn">Деталі</a>
                <div class="orglist--menu">
                    <div class="orglist--menu__btn"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#iconEllipsis"></use></svg></div>
                    <ul class="orglist--menu__list">
                        <li class="orglist--menu__item"><a href="">Деталі</a></li>
                        <li class="orglist--menu__item"><a href="">В сравнение</a></li>
                        <li class="orglist--menu__item"><a href="">Додати блок</a></li>
                        <li class="orglist--menu__item"><a href="">Редагувати</a></li>
                        <li class="orglist--menu__item orglist--menu__item_del"><a href="">Видалити</a></li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="pagination">
            <div class="pagination__info">10 записів(a) із 5435</div>
            <ul class="pagination__list">
                <li class="pagination__item">
                    <a class="pagination__prev" href=""></a>
                </li>
                <li class="pagination__item">
                    <a class="pagination__link" href="">1</a>
                </li>
                <li class="pagination__item current">
                    <a class="pagination__link" href="">2</a>
                </li>
                <li class="pagination__item">
                    <a class="pagination__link" href="">3</a>
                </li>
                <li class="pagination__item pagination__item_ellipsis">
                    &hellip;
                </li>
                <li class="pagination__item">
                    <a class="pagination__link" href="">58</a>
                </li>
                <li class="pagination__item">
                    <a class="pagination__next" href=""></a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}
