{% extends 'layouts/base.html'%}

{% block content %}
    <div class="welcome">
        <h2 class="welcome__title">Привіт, UserName,👋</h2>
        <p class="welcome__text">Допоможіть нашій системі ідентифікувати вас, заповніть свій профайл</p>
        <a class="btn" href="">Доповнити профайл</a>
        <div class="welcome__close"></div>
    </div>

    <div class="white-box orglist">
        <header class="orglist--header">
            <h1 class="title">Доступні організації (0)</h1>
            <ul class="orglist--header__tabs">
                <li>Очікують</li>
                <li>Видалені</li>
            </ul>
            <div class="orglist--header__view">
                <div class="orglist--header__list"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#iconList"></use></svg></div>
                <div class="orglist--header__grid"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#iconGrid"></use></svg></div>
            </div>
        </header>

        <div class="orglist__container orglist__container_empty">

            <div class="orglist--filters">
                <div class="orglist--filters__name">Назва</div>
                <div class="orglist--filters__empty"></div>
                <div class="orglist--filters__address">Адреса</div>
                <div class="orglist--filters__blocks">Блоки</div>
                <div class="orglist--filters__role">Роль</div>
                <div class="orglist--filters__empty"></div>
            </div>


            <div class="orglist--empty">
                <h3 class="orglist--empty__title">Нажаль ви не маєте жодного запису</h3>
                <p>Будь ласка, скористайтесь пошуком або додайте свою організацію</p>
                <a class="btn btn_green orglist--empty__btn" href="">Додати організацію</a>
            </div>

        </div>
    </div>

{% endblock %}
