<header class="site--header">
    <ul class="breadcrumb">
        <li class="breadcrumb__item"><a class="breadcrumb__link" href="/">Автоматизована Система ЕнергоМоніторингу</a></li>
        <li class="breadcrumb__item"><a class="breadcrumb__link" href="organization-list.php">ОСББ «Aртемівский»</a></li>
        <li class="breadcrumb__item"><span class="breadcrumb__current">Сервіси</span></li>
    </ul>

    <div class="informer">
        <div class="search"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#search"></use></svg></div>
        <div class="messages"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#bell"></use></svg></div>
        <a href="/login.php" class="user"><img src="/static/build/img/avatar.webp" decoding="async" loading="lazy" width="40" height="40" alt=""></a>
    </div>
</header>
