{% extends 'layouts/base.html'%}

{% block content %}

    <div class="block-analysis--header">
        <h1 class="block-analysis--header__title">Аналіз блока</h1>
        <a href="/block-list.php" class="block-analysis--header__back"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#arrowBack"></use></svg></a>
    </div>

    <div class="block-analysis--top">
        <div class="block-analysis--filters">
            <div class="block-analysis--filters__range">
                <input type="text" name="start">
                <span>—</span>
                <input type="text" name="end">
                <svg><use xlink:href="/static/build/svg/symbol/sprite.svg#rangeIcon"></use></svg>
            </div>

            <div class="select">
                <div class="select__header"></div>
                <ul class="select__opts">
                    <li class="select__opt" data-value="12">12 годин</li>
                    <li class="select__opt" data-value="24">24 години</li>
                    <li class="select__opt" data-value="48">48 годин</li>
                </ul>
                <input type="hidden" value="" name="" />
            </div>

            <div class="btn">Розрахувати</div>
        </div>

        <div class="select block-analysis--top__variants">
            <div class="select__header"></div>
            <ul class="select__opts">
                <li class="select__opt" data-value="v1">Варіант аналізу №1</li>
                <li class="select__opt" data-value="v2">Варіант аналізу №2</li>
            </ul>
            <input type="hidden" value="" name="" />
        </div>
    </div>

    <div class="white-box block-analysis--container">
        <header class="block-analysis--container__header">
            <div class="block-analysis__title">
                <h2 class="title">Загальне енергоспоживання</h2>
                <p class="subtitle">ОСББ «Aртемівский», корпус №1, кв. 123</p>
            </div>

            <div class="block-analysis--exports">
                <span>Експорт:</span>
                <a href="" class="block-analysis--exports__item export-exel"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#iconExel"></use></svg></a>
                <a href="" class="block-analysis--exports__item export-pdf"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#iconPdf"></use></svg></a>
                <a href="" class="block-analysis--exports__item export-csv"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#iconCsv"></use></svg></a>
                <a href="" class="block-analysis--exports__item export-copy"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#iconCopy"></use></svg></a>
                <a href="" class="block-analysis--exports__item export-print"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#iconPrint"></use></svg></a>
            </div>
        </header>

        <div class="block-analysis--chart"></div>

        <ul class="block-analysis--chart__labels">
            <li class="block-analysis--chart__label"><span style="color: #fadf33;" class="emptyCircle"></span> p</li>
            <li class="block-analysis--chart__label"><span style="color: #679932;"></span> Теплова енергія</li>
            <li class="block-analysis--chart__label"><span style="color: #ff974a;"></span> Електроенергія</li>
            <li class="block-analysis--chart__label"><span style="color: #4694ff;"></span> Холодна вода</li>
            <li class="block-analysis--chart__label"><span style="color: #ff4a7a;"></span> ГВП</li>
            <li class="block-analysis--chart__label"><span style="color: #679932;" class="emptyCircle"></span> T1</li>
            <li class="block-analysis--chart__label"><span style="color: #8cd31a;" class="emptyCircle"></span> T2</li>
        </ul>

        <div class="block-analysis--databox">
            <div class="block-analysis--table">

                <div class="block-analysis--table__perpage">
                    <span>Відображати по:</span>
                    <div class="select">
                        <div class="select__header"></div>
                        <ul class="select__opts">
                            <li class="select__opt" data-value="5">5</li>
                            <li class="select__opt" data-value="15">15</li>
                            <li class="select__opt" data-value="25">25</li>
                        </ul>
                        <input type="hidden" value="" name="batable__perpage" />
                    </div>
                </div>

                <table id="analysis-table" class="dt-table">
                    <thead>
                    <tr>
                        <th>Дата</th>
                        <th>Показник ТЛ</th>
                        <th>ТЛ</th>
                        <th>Т1</th>
                        <th>Т2</th>
                        <th>Електрична єнергія</th>
                        <th>Показник УРП-2 0135143</th>
                        <th>УРП-2 0135143</th>
                        <th>Показник АВР 0115750</th>
                        <th>Показник v1</th>
                        <th>v1</th>
                        <th>Показник v2</th>
                        <th>V2</th>
                        <th>p</th>
                    </tr>
                    <tr>
                        <th><span>Всього:</span></th>
                        <th>—</th>
                        <th>1.48</th>
                        <th>—</th>
                        <th>—</th>
                        <th>—</th>
                        <th>—</th>
                        <th>—</th>
                        <th>114</th>
                        <th>—</th>
                        <th>183.49</th>
                        <th>—</th>
                        <th>159.87</th>
                        <th>—</th>
                    </tr>
                    <tr>
                        <th><span>В середньому:</span></th>
                        <th>—</th>
                        <th>—</th>
                        <th>44.96</th>
                        <th>46.80</th>
                        <th>—</th>
                        <th>—</th>
                        <th>—</th>
                        <th>—</th>
                        <th>—</th>
                        <th>61.16</th>
                        <th>—</th>
                        <th>53.29</th>
                        <th>0.015</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>08-11-2021</td>
                        <td>125.95</td>
                        <td>0.6</td>
                        <td>56.83</td>
                        <td>51.29</td>
                        <td>3023.54</td>
                        <td>292</td>
                        <td>104750</td>
                        <td>40</td>
                        <td>16934.6</td>
                        <td>56.83</td>
                        <td>15642.5</td>
                        <td>51.29</td>
                        <td>0.02</td>
                    </tr>
                    <tr>
                        <td>09-11-2021</td>
                        <td>145.95</td>
                        <td>0.54</td>
                        <td>66.83</td>
                        <td>41.29</td>
                        <td>3523.54</td>
                        <td>312</td>
                        <td>109150</td>
                        <td>45</td>
                        <td>18024.6</td>
                        <td>77.83</td>
                        <td>16242.5</td>
                        <td>61.29</td>
                        <td>0.015</td>
                    </tr>
                    <tr>
                        <td>10-11-2021</td>
                        <td>103.95</td>
                        <td>0.34</td>
                        <td>45.83</td>
                        <td>42.29</td>
                        <td>2823.54</td>
                        <td>252</td>
                        <td>94750</td>
                        <td>29</td>
                        <td>14734.6</td>
                        <td>48.83</td>
                        <td>12941.5</td>
                        <td>47.29</td>
                        <td>0.011</td>
                    </tr>
                    <tr>
                        <td>08-11-2021</td>
                        <td>125.95</td>
                        <td>0.6</td>
                        <td>56.83</td>
                        <td>51.29</td>
                        <td>3023.54</td>
                        <td>292</td>
                        <td>104750</td>
                        <td>40</td>
                        <td>16934.6</td>
                        <td>56.83</td>
                        <td>15642.5</td>
                        <td>51.29</td>
                        <td>0.02</td>
                    </tr>
                    <tr>
                        <td>09-11-2021</td>
                        <td>145.95</td>
                        <td>0.54</td>
                        <td>66.83</td>
                        <td>41.29</td>
                        <td>3523.54</td>
                        <td>312</td>
                        <td>109150</td>
                        <td>45</td>
                        <td>18024.6</td>
                        <td>77.83</td>
                        <td>16242.5</td>
                        <td>61.29</td>
                        <td>0.015</td>
                    </tr>
                    <tr>
                        <td>10-11-2021</td>
                        <td>103.95</td>
                        <td>0.34</td>
                        <td>45.83</td>
                        <td>42.29</td>
                        <td>2823.54</td>
                        <td>252</td>
                        <td>94750</td>
                        <td>29</td>
                        <td>14734.6</td>
                        <td>48.83</td>
                        <td>12941.5</td>
                        <td>47.29</td>
                        <td>0.011</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
{#        <script src="https://www.haegi.org/jstable/js/jstable.min.js" type="text/javascript"></script>#}
{#        <script>let myTable = new JSTable("#analysis-table");</script>#}

<!--        <div class="pagination">-->
<!--            <div class="pagination__info">10 записів(a) із 5435</div>-->
<!--            <ul class="pagination__list">-->
<!--                <li class="pagination__item">-->
<!--                    <a class="pagination__prev" href=""></a>-->
<!--                </li>-->
<!--                <li class="pagination__item">-->
<!--                    <a class="pagination__link" href="">1</a>-->
<!--                </li>-->
<!--                <li class="pagination__item current">-->
<!--                    <a class="pagination__link" href="">2</a>-->
<!--                </li>-->
<!--                <li class="pagination__item">-->
<!--                    <a class="pagination__link" href="">3</a>-->
<!--                </li>-->
<!--                <li class="pagination__item pagination__item_ellipsis">-->
<!--                    &hellip;-->
<!--                </li>-->
<!--                <li class="pagination__item">-->
<!--                    <a class="pagination__link" href="">58</a>-->
<!--                </li>-->
<!--                <li class="pagination__item">-->
<!--                    <a class="pagination__next" href=""></a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
    </div>

{% endblock %}
