.org--adminmenu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  border-bottom: 1px solid var(--bg-1);

  &__item {
    margin-left: 32px;
    line-height: 28px;
    font-size: 14px;
    font-weight: 500;

    &:first-of-type {
      margin-left: 0;
    }

    a {
      display: block;
      padding: 8px 0 24px;
      text-decoration: none;
      color: var(--font-r);
      transition: color .3s ease-out;

      &:hover {
        color: var(--font-d);
      }
    }

    &.current {
      line-height: 26px;
      font-size: 18px;
      font-weight: 700;

      a {
        color: var(--font-d);
        cursor: default;
      }
    }
  }
}
