.report-edit {

  &--header {
    display: flex;
    align-items: center;
    margin: 0 0 32px;

    &__title {
      margin: 0;
      padding: 6px 0 0;
      line-height: 1;
      font-size: 20px;
      font-weight: 700;
      color: var(--font-d);
      order: 2;
    }

    &__back {
      flex: 0 0 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      margin-right: 20px;
      border-radius: 50%;
      background-color: var(--wbox-bg);
      box-shadow: 0 6px 6px 0 rgba(19, 34, 75, 0.06);
      order: 1;
      transition: background-color .3s ease-out;

      svg {
        display: block;
        width: 12px;
        height: 12px;
        fill: var(--font-d);
        transition: fill .3s ease-out;
      }

      &:hover {
        background-color: var(--green);

        svg {
          fill: #FFF;
        }
      }
    }
  }

  &--top {
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
      flex-direction: initial;
      justify-content: space-between;
    }

    &__formbox {
      flex: 1 1 auto;
      box-sizing: border-box;
      order: 2;

      @media (min-width: 768px) {
        order: initial;
      }

      @media (min-width: 768px) AND (max-width: 1279px) {
        display: block;
        flex: 0 0 calc(100% - 332px);
      }
      @media (min-width: 1280px) {
        padding-right: 20px;
      }
    }

    .fieldset {
      margin-bottom: 20px;
    }

    &__name {
      max-width: 352px;
    }

    &__desc {
      max-width: 544px;
    }

    &__btns {
      display: flex;
    }

    .btn {
      flex: 0 0 120px;
      margin-right: 12px;
      font-size: 14px;
      color: var(--white-inverse);
      background-color: var(--font-d);

      &:hover {
        color: #FFF;
        background-color: var(--blue);
      }

      &_reset {
        color: var(--font-d);
        border: 1px solid currentColor;
        background-color: transparent;

        &:hover {
          border-color: var(--blue);
        }
      }
      @media (min-width: 1280px) {
        flex: 0 0 160px;
      }
    }

    label {
      line-height: 20px;
    }

    input {
      background-color: var(--white-inverse);
    }

    &__org {
      margin-bottom: 24px;

      @media (min-width: 768px) {
        flex: 0 0 312px;
        margin-bottom: initial;
      }
      @media (min-width: 1280px) {
        flex: 0 0 352px;
      }
    }
    .org--header {
      margin-top: 0;

      &__img {
        float: none;
        margin-bottom: 20px;
      }

      &__title,
      &__desc {
        margin-left: 0;
      }
    }

    + .white-box {
      margin-top: 32px;
    }
  }

  .list__container {
    overflow-x: auto;
    max-width: 100%;

    @media (min-width: 1280px) {
      overflow-x: initial;
    }
  }
  .list__item,
  .list--filters {
    min-width: 720px;

    @media (min-width: 768px) {
      min-width: 720px;
    }

    @media (min-width: 1280px) {
      min-width: initial;
    }
  }

  .list--filters,
  .list {

    &__hand {
      flex: 0 0 32px;

      @media (min-width: 1280px) {
        flex: 0 0 32px;
      }
    }

    &__type {
      flex: 0 0 200px;
      max-width: 200px;

      @media (min-width: 1280px) {
        flex: 0 0 25%;
        max-width: 25%;
      }
    }

    &__desc {
      flex: 0 0 120px;
      max-width: 120px;

      @media (min-width: 1280px) {
        flex: 0 0 23%;
        max-width: 23%;
      }
    }

    &__name {
      flex: 0 0 calc(100% - 32px - 200px - 132px - 56px - 100px - 72px);
      padding-right: 8px;
      box-sizing: border-box;

      @media (min-width: 1280px) {
        flex: 0 0 calc(100% - 40px - 25% - 23% - 100px - 100px - 88px);
        padding-right: 16px;
      }
    }

    &__color {
      flex: 0 0 56px;
      padding-right: 12px;
      box-sizing: border-box;

      @media (min-width: 1280px) {
        flex: 0 0 100px;
        padding-right: 48px;
      }
    }

    &__graph {
      flex: 0 0 100px;
      display: flex;
      justify-content: flex-end;
      padding-right: 8px;
      box-sizing: border-box;

      @media (min-width: 1280px) {
        padding-left: 16px;
      }
    }

    &__btns {
      flex: 0 0 72px;
      padding-left: 8px;
      padding-right: 8px;
      box-sizing: border-box;

      @media (min-width: 1280px) {
        flex: 0 0 88px;
        padding-left: 16px;
        padding-right: 16px;
      }
    }
  }

  .list--filters {
    &__name {
      padding-left: 8px;
      @media (min-width: 1280px) {
        padding-left: 16px;
      }
    }
    &__type,
    &__desc {
      padding-left: 8px;
      box-sizing: border-box;

      @media (min-width: 1280px) {
        padding-left: 16px;
      }
    }
    &__graph {
      .status-icon {
        padding-left: 1px;
        margin-left: 4px;
        box-sizing: border-box;
        font-size: 10px;
        color: var(--white-inverse);
        border-radius: 50%;
        background-color: var(--font-d);
      }
      .tooltip {

        .asem-tooltip {
          text-transform: lowercase;
          white-space: nowrap;
        }
      }
    }
  }

  .list {

    &__item {
      margin-top: 8px;
      box-sizing: border-box;
      border-radius: 8px;
      border-top: 0;
      background-color: var(--bg);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);

      &:first-of-type {
        margin-top: 0;
      }

      &.sortable-ghost {
        opacity: 0;
      }
      &.sortable-chosen {
        opacity: 0;
      }

      &.sortable-drag {
        opacity: 1;
      }
    }

    &__hand {
      svg {
        display: block;
        width: 32px;
        height: 32px;
        fill: var(--font-r);
      }
    }

    &__type {

      .select__header,
      .select__opt {

        span {
          flex: 0 0 calc(100% - 24px - 50px);
          max-width: calc(100% - 24px - 50px);
        }
        small {
          padding-left: 2px;
        }
      }
    }

    &__desc {

      .select__header,
      .select__opt {

        span {
          flex: 0 0 100%;
          max-width: 100%;
        }
      }
    }

    &__type,
    &__desc {
      padding-right: 8px;
      box-sizing: border-box;

      @media (min-width: 1280px) {
        padding-right: 16px;
      }
    }

    &__name {
      input {
        padding-left: 8px;

        @media (min-width: 1280px) {
          padding-left: 12px;
        }
      }
    }

    &__graph {
      .tooltip {
        display: block;
        height: 18px;
        width: initial;

        .asem-tooltip {
          white-space: nowrap;

          &:before {
            right: 13px;
          }
        }
      }

      label {
        margin-left: 4px;
      }
    }

    &__btns {
      svg {
        display: block;
        width: 24px;
        height: 24px;
      }
    }

    &__controls,
    &__updates {
      display: flex;
      align-items: center;
      justify-content: space-between;

      svg {
        display: block;
        width: 24px;
        height: 24px;
        fill: var(--font-r);
      }

      .tooltip {
        display: block;
        width: initial;
        height: 24px;
        white-space: nowrap;

        .asem-tooltip {
          white-space: nowrap;

          &:before {
            right: 16px;
          }
        }
      }
    }

    &__controls {
      display: none;
    }
  }


  &__add {
    display: block;
    padding-top: 2px;
    width: 24px;
    height: 24px;
    cursor: pointer;

    svg {
      display: block;
      width: 24px;
      height: 24px;
      fill: var(--font-r);
    }

    &:hover {
      svg {
        fill: var(--green);
      }
    }
  }

  &__del {
    cursor: pointer;

    &:hover {
      svg {
        fill: var(--red);
      }
    }
  }

  &__change {
    cursor: pointer;

    &:hover {
      svg {
        fill: var(--blue);
      }
    }
  }

  & &__save {
    cursor: pointer;

    svg {
      fill: var(--green);
    }

    &:hover {
      svg {
        fill: var(--green-d);
      }
    }
  }

  & &__cancel {
    cursor: pointer;

    svg {
      fill: var(--font-d);
    }
  }

  .select {
    min-width: calc(100% - 40px);
    max-width: 100%;

    @media (min-width: 1280px) {}
  }

  .select__header,
  .select__opt {

    .source-icon {
      flex: 0 0 16px;
      margin-right: 8px;
    }

    span,
    small {
      height: 16px;
      box-sizing: border-box;
    }

    span {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;

      @media (min-width: 1280px) {
        flex: 1 1 auto;
        min-width: 50%;
      }
    }

    small {
      flex: 0 0 50px;
      color: var(--font-r);
    }
  }

  .select__header {
    display: flex;
    padding: 12px 16px 8px 8px;
    background-color: var(--white-inverse);

    @media (min-width: 1280px) {
      padding: 12px 20px 8px 12px;
    }

    .source-icon {
      margin-top: -2px;
    }

    span {
      padding-top: 0;
    }

    small {
      padding-top: 1px;
    }
  }

  .select__opt {
    padding-right: 20px;

    .source-icon {
      flex: 0 0 16px;
      margin-top: 2px;
    }

    span {
      padding-top: 0;
      margin-top: -1px;
    }

    small {
      box-sizing: border-box;
    }
  }

  .list__item {
    //position: relative;
    //z-index: 1;

    input {
      height: 36px;
      font-size: 14px;
      font-weight: 300;
      background-color: var(--white-inverse);
    }

    input[type=color] {
      display: block;
      width: 16px;
      height: 16px;
      padding: 0;

    }

    &.sortable-drag {
      z-index: 10;
    }
  }

  .list__desc {
    .select__header {
      font-weight: 300;
    }
  }

  .list__item.readonly {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    input,
    .select {
      pointer-events: none;
    }

    input[type=text],
    .input-color,
    .select__header {
      border-color: transparent;
      background-color: transparent;
    }

    .input-color {
      pointer-events: none;
      span:after {
        display: none;
      }
    }

    .input-checkbox {
      pointer-events: none;
    }

    .select__header {
      &:after {
        display: none;
      }
    }

    .list__controls {
      display: flex;
    }

    .list__updates {
      display: none;
    }
  }

  > .btn {
    width: 200px;
    margin: 24px auto 0;
    font-size: 14px;
  }
}
