{% extends 'layouts/base.html'%}

{% block content %}

    {% include 'blocks/organization/head.html' %}

    {% include 'blocks/organization/tags.html' %}

    {% include 'blocks/organization/menu.html' %}

    <div class="white-box org-admin org-admin--services">
        {% include 'blocks/organization/admin-menu.html' %}

        <div class="list__container">
            <div class="list--filters">
                <div class="list--filters__type filtered">Тип</div>
                <div class="list--filters__name filtered">Назва</div>
                <div class="list--filters__desc filtered">Опис</div>
                <div class="list--filters__tariff filtered">Тариф</div>
                <div class="list--filters__btns"></div>
            </div>

            <div class="list__item readonly">
                <div class="list__type">
                    <div class="select">
                        <div class="select__header"></div>
                        <ul class="select__opts">
                            <li class="select__opt" data-value="12">
                                <div class="source-icon"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#iconThermalEnergy"></use></svg></div>
                                <span>Теплова енергія</span>
                                <small>Гкал</small>
                            </li>
                            <li class="select__opt" data-value="24">
                                <div class="source-icon"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#iconThermalEnergy"></use></svg></div>
                                <span>Теплова енергія 2</span>
                                <small>Гкал</small>
                            </li>
                            <li class="select__opt" data-value="48">
                                <div class="source-icon"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#iconThermalEnergy"></use></svg></div>
                                <span>Теплова енергія 3</span>
                                <small>Гкал</small>
                            </li>
                        </ul>
                        <input type="hidden" value="" name="" />
                    </div>
                </div>
                <div class="list__name"><input type="text" name="" value="Опалення" /></div>
                <div class="list__desc"><input type="text" name="" value="Lorem ipsum dolor sit amet" /></div>
                <div class="list__tariff popup-btn" data-popup="admin-tariff-popup"><div class="org-admin--services__add"><span class="tooltip" alt="Додати"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#editAdd"></use></svg></span></div></div>
                <div class="list__btns">
                    <div class="list__controls">
                        <div class="org-admin--services__del"><span class="tooltip" alt="Видалити"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#editTrash"></use></svg></span></div>
                        <div class="org-admin--services__change"><span class="tooltip" alt="Редагувати"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#editChange"></use></svg></span></div>
                    </div>
                    <div class="list__updates">
                        <div class="org-admin--services__save"><span class="tooltip" alt="Зберегти"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#editSave"></use></svg></span></div>
                        <div class="org-admin--services__cancel"><span class="tooltip" alt="Скасувати"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#editCancel"></use></svg></span></div>
                    </div>
                </div>
            </div>

            <div class="list__item readonly">
                <div class="list__type">
                    <div class="select">
                        <div class="select__header"></div>
                        <ul class="select__opts">
                            <li class="select__opt" data-value="12">
                                <div class="source-icon"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#iconElectricEnergy"></use></svg></div>
                                <span>Електрична енергія</span>
                                <small>кВт*год</small>
                            </li>
                            <li class="select__opt" data-value="24">
                                <div class="source-icon"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#iconElectricEnergy"></use></svg></div>
                                <span>Електрична енергія 2</span>
                                <small>кВт*год</small>
                            </li>
                            <li class="select__opt" data-value="48">
                                <div class="source-icon"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#iconElectricEnergy"></use></svg></div>
                                <span>Електрична енергія 3</span>
                                <small>кВт*год</small>
                            </li>
                        </ul>
                        <input type="hidden" value="" name="" />
                    </div>
                </div>
                <div class="list__name"><input type="text" name="" value="Електрична енергія" /></div>
                <div class="list__desc"><input type="text" name="" value="Lorem ipsum dolor sit amet" /></div>
                <div class="list__tariff popup-btn" data-popup="admin-tariff-popup"><div class="org-admin--services__tariff"><span class="tooltip" alt="Дійсний до 01.01.2021">1.68</span></div></div>
                <div class="list__btns">
                    <div class="list__controls">
                        <div class="org-admin--services__del"><span class="tooltip" alt="Видалити"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#editTrash"></use></svg></span></div>
                        <div class="org-admin--services__change"><span class="tooltip" alt="Редагувати"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#editChange"></use></svg></span></div>
                    </div>
                    <div class="list__updates">
                        <div class="org-admin--services__save"><span class="tooltip" alt="Зберегти"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#editSave"></use></svg></span></div>
                        <div class="org-admin--services__cancel"><span class="tooltip" alt="Скасувати"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#editCancel"></use></svg></span></div>
                    </div>
                </div>
            </div>

            <div class="list__item readonly">
                <div class="list__type">
                    <div class="select">
                        <div class="select__header"></div>
                        <ul class="select__opts">
                            <li class="select__opt" data-value="12">
                                <div class="source-icon"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#iconColdWater"></use></svg></div>
                                <span>Водопостачання</span>
                                <small>м<sup>3</sup></small>
                            </li>
                            <li class="select__opt" data-value="24">
                                <div class="source-icon"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#iconColdWater"></use></svg></div>
                                <span>Водопостачання 2</span>
                                <small>м<sup>3</sup></small>
                            </li>
                            <li class="select__opt" data-value="48">
                                <div class="source-icon"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#iconColdWater"></use></svg></div>
                                <span>Водопостачання 3</span>
                                <small>м<sup>3</sup></small>
                            </li>
                        </ul>
                        <input type="hidden" value="" name="" />
                    </div>
                </div>
                <div class="list__name"><input type="text" name="" value="Електрична енергія" /></div>
                <div class="list__desc"><input type="text" name="" value="Lorem ipsum dolor sit amet" /></div>
                <div class="list__tariff popup-btn" data-popup="admin-tariff-popup"><div class="org-admin--services__tariff"><span class="tooltip" alt="Дійсний до 01.01.2021">23.25</span></div></div>
                <div class="list__btns">
                    <div class="list__controls">
                        <div class="org-admin--services__del"><span class="tooltip" alt="Видалити"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#editTrash"></use></svg></span></div>
                        <div class="org-admin--services__change"><span class="tooltip" alt="Редагувати"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#editChange"></use></svg></span></div>
                    </div>
                    <div class="list__updates">
                        <div class="org-admin--services__save"><span class="tooltip" alt="Зберегти"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#editSave"></use></svg></span></div>
                        <div class="org-admin--services__cancel"><span class="tooltip" alt="Скасувати"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#editCancel"></use></svg></span></div>
                    </div>
                </div>
            </div>

            <div class="list__item readonly">
                <div class="list__type">
                    <div class="select">
                        <div class="select__header"></div>
                        <ul class="select__opts">
                            <li class="select__opt" data-value="12">
                                <div class="source-icon"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#iconHotWater"></use></svg></div>
                                <span>ГВП</span>
                                <small>м<sup>3</sup></small>
                            </li>
                            <li class="select__opt" data-value="24">
                                <div class="source-icon"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#iconHotWater"></use></svg></div>
                                <span>ГВП 2</span>
                                <small>м<sup>3</sup></small>
                            </li>
                            <li class="select__opt" data-value="48">
                                <div class="source-icon"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#iconHotWater"></use></svg></div>
                                <span>ГВП 3</span>
                                <small>м<sup>3</sup></small>
                            </li>
                        </ul>
                        <input type="hidden" value="" name="" />
                    </div>
                </div>
                <div class="list__name"><input type="text" name="" value="Гаряча вода" /></div>
                <div class="list__desc"><input type="text" name="" value="Lorem ipsum dolor sit amet" /></div>
                <div class="list__tariff popup-btn" data-popup="admin-tariff-popup"><div class="org-admin--services__tariff"><span class="tooltip" alt="Дійсний до 01.01.2021">150.58</span></div></div>
                <div class="list__btns">
                    <div class="list__controls">
                        <div class="org-admin--services__del"><span class="tooltip" alt="Видалити"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#editTrash"></use></svg></span></div>
                        <div class="org-admin--services__change"><span class="tooltip" alt="Редагувати"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#editChange"></use></svg></span></div>
                    </div>
                    <div class="list__updates">
                        <div class="org-admin--services__save"><span class="tooltip" alt="Зберегти"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#editSave"></use></svg></span></div>
                        <div class="org-admin--services__cancel"><span class="tooltip" alt="Скасувати"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#editCancel"></use></svg></span></div>
                    </div>
                </div>
            </div>

            <div class="list__item readonly">
                <div class="list__type">
                    <div class="select">
                        <div class="select__header"></div>
                        <ul class="select__opts">
                            <li class="select__opt" data-value="12">
                                <div class="source-icon"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#iconTemperature"></use></svg></div>
                                <span>Температура</span>
                                <small>°C</small>
                            </li>
                            <li class="select__opt" data-value="24">
                                <div class="source-icon"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#iconTemperature"></use></svg></div>
                                <span>Температура 2</span>
                                <small>°C</small>
                            </li>
                            <li class="select__opt" data-value="48">
                                <div class="source-icon"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#iconTemperature"></use></svg></div>
                                <span>Температура 3</span>
                                <small>°C</small>
                            </li>
                        </ul>
                        <input type="hidden" value="" name="" />
                    </div>
                </div>
                <div class="list__name"><input type="text" name="" value="-" /></div>
                <div class="list__desc"><input type="text" name="" value="-" /></div>
                <div class="list__tariff popup-btn" data-popup="admin-tariff-popup"><div class="org-admin--services__add"><span class="tooltip" alt="Додати"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#editAdd"></use></svg></span></div></div>
                <div class="list__btns">
                    <div class="list__controls">
                        <div class="org-admin--services__del"><span class="tooltip" alt="Видалити"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#editTrash"></use></svg></span></div>
                        <div class="org-admin--services__change"><span class="tooltip" alt="Редагувати"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#editChange"></use></svg></span></div>
                    </div>
                    <div class="list__updates">
                        <div class="org-admin--services__save"><span class="tooltip" alt="Зберегти"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#editSave"></use></svg></span></div>
                        <div class="org-admin--services__cancel"><span class="tooltip" alt="Скасувати"><svg><use xlink:href="/static/build/svg/symbol/sprite.svg#editCancel"></use></svg></span></div>
                    </div>
                </div>
            </div>

        </div>

        <div class="btn btn_green">+ Додати сервіс</div>

    </div>

    <div class="org-admin--popup">
        <div class="org-admin--popup__box" id="admin-tariff-popup">
            <div class="org-admin--popup__container">
                <h3 class="org-admin--popup__title">Додати (Редагувати) тариф</h3>
                <p class="org-admin--popup__desc">Тарифи &lt;Service 6 - Електрична енергія to org 1&gt;</p>
                <form type="">
                    <div class="fieldsbox">
                        <div class="fieldset">
                            <input type="text" value="" name="" class="admin-tariff-date" placeholder="Дата" />
                        </div>
                        <div class="fieldset">
                            <input type="text" value="" name="" placeholder="Тариф" />
                        </div>
                        <div class="fieldset">
                            <input type="text" value="" name="" placeholder="Нотаток" />
                        </div>
                    </div>
                    <div class="org-admin--popup__btns">
                        <button type="submit" class="btn">Зберегти</button>
                        <button type="reset" class="btn btn_reset">Скасувати</button>
                    </div>
                </form>
            </div>
            <div class="org-admin--popup__close"></div>
        </div>
    </div>

{% endblock %}
