.org--contacts {
  padding: 24px 16px;
  margin-right: -16px;
  margin-left: -16px;

  @media (min-width: 768px) {
    margin: 36px 0 0;
    padding: 32px 16px;
  }

  &__header {
    width: 200px;

    @media (min-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: initial;
    }
  }

  &__invite {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    margin-top: 16px;
    border-radius: 4px;
    color: var(--white-inverse);
    line-height: 16px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    background-color: var(--font-d);
    transition: color .3s ease-out, background-color .3s ease-out;

    &:hover {
      color: #FFF;
      background-color: var(--green-d);
    }

    @media (min-width: 768px) {
      margin-top: 0;
    }
  }

  &__title {
    margin: 0;
    padding: 0;
  }

  &__table {
    margin: 16px 0;

    .dt-top,
    .dt-bottom {
      display: none;
    }

    .dt-table > thead > tr:first-child > th {
      text-align: left;
      user-select: none;

      &:nth-of-type(2) {
        &:before,
        &:after {
          right: initial;
          left: 34px;
        }
      }

      &:nth-of-type(3) {
        &:before,
        &:after {
          right: initial;
          left: 26px;
        }
      }

      &:nth-of-type(4) {
        &:before,
        &:after {
          right: initial;
          left: 58px;
        }
      }

      &:nth-of-type(5) {
        &:before,
        &:after {
          right: initial;
          left: 40px;
        }
      }

      &:nth-of-type(6) {
        text-align: right;

        &:before,
        &:after {
          right: initial;
          left: 36px;
        }
      }

      &:last-of-type {
        text-align: right;
      }
    }

    .dt-table > tbody > tr {

      > td {
        padding: 10px;
        text-align: left;

        a {
          color: var(--font-d);
          text-decoration: none;
          transition: color .3s ease-out;

          &:hover {
            color: var(--blue);
          }
        }

        &:first-of-type {
          padding-left: 12px;
          padding-right: 4px;
          font-size: 14px;
          font-weight: 300;
          color: var(--font-l);
        }

        &:nth-of-type(2),
        &:nth-of-type(3),
        &:nth-of-type(5) {
          color: var(--font-d);
        }

        &:nth-of-type(2) {
          font-weight: 300;
        }

        &:nth-of-type(3),
        &:nth-of-type(5) {
          font-weight: 500;
        }

        &:nth-of-type(5) {
          a {
            color: var(--font-d);
            text-decoration: none;
            transition: color .3s ease-out;

            &:hover {
              color: var(--blue);
            }
          }
        }

        &:nth-of-type(4),
        &:nth-of-type(6) {
          font-weight: 300;
        }

        &:nth-of-type(6) {
          max-width: 132px;
          text-align: right;

          a {
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: var(--font-r);
            text-decoration: none;
            transition: color .3s ease-out;

            &:hover {
              color: var(--blue);
            }
          }
        }

        &:last-of-type {
          text-align: right;
          line-height: 1;
          font-size: 0;
        }

        svg {
          display: inline-block;
          width: 15px;
          height: 15px;
        }
      }

      &:first-of-type {
        > td {
          border-top: 0;
        }
      }

      &:nth-of-type(odd) {
        background-color: var(--bg);
      }

      &:nth-of-type(even) {
        background-color: initial;
      }

      &:hover {
        background-color: var(--green-sl);
      }
    }
  }

  span {
    position: relative;
    display: inline-block;
  }

  &__delete {
    display: block;
    padding-right: 8px;
    box-sizing: border-box;
    text-align: right;
    //float: right;
    svg {
      display: block;
      width: 20px!important;
      height: 20px!important;
      margin: -2px 0 -3px;
      fill: var(--font-l);
    }

    &:hover svg {
      fill: var(--font-d);
    }
  }
}

#contacts-table {
  >thead:first-child>tr:first-child>td,
  >thead:first-child>tr:first-child>th {
    //text-align: left;

    &:last-child {
      text-align: right;
    }
  }
}
