<div class="org--adminmenu__wraper">
  <ul class="org--adminmenu">
    <li class="org--adminmenu__item {% if page == 'services' %}current{% endif %}"><a href="/service-list.php">Сервіси</a></li>
    <li class="org--adminmenu__item {% if page == 'scheme' %}current{% endif %}"><a href="/scheme-energo.php">Енергетична схема</a></li>
    <li class="org--adminmenu__item {% if page == 'reports' %}current{% endif %}"><a href="/report-list.php">Звіти</a></li>
    <li class="org--adminmenu__item {% if page == 'address' %}current{% endif %}"><a href="/admin-address.php">Адреса</a></li>
    <li class="org--adminmenu__item {% if page == 'images' %}current{% endif %}"><a href="/admin-images.php">Зображення</a></li>
    <li class="org--adminmenu__item {% if page == 'orgimage' %}current{% endif %}"><a href="/admin-orgimage.php">Зображення організації</a></li>
  </ul>
</div>
