<div class="org--tags">
    <h3 class="title org--tags__title">Доступні блоки (5)</h3>
    <a class="org--tags__item current" href="">Кв. 123</a>
    <a class="org--tags__item" href="">Кв. 198</a>
    <a class="org--tags__item" href="">Кв. 235</a>
    <a class="org--tags__item" href="">Магазин Гурман</a>
    <a class="org--tags__item" href="">Майстерня №12</a>
    <a class="org--tags__item" href="">Административный корпус</a>
    <a class="org--tags__item" href="">Хирургия</a>
    <a class="org--tags__item" href="">Хозблок</a>
    <a class="org--tags__item" href="">Поликлиника</a>
    <a class="org--tags__item" href="">Котельня</a>
    <a class="org--tags__item" href="">Акушерский корпус</a>
    <a class="org--tags__item" href="">Регистратура</a>
    <a class="org--tags__item" href="">Терапевтическое отделение</a>
    <a class="org--tags__item" href="">Кухонный блок</a>
    <a class="org--tags__item" href="">Стационар</a>
    <a class="org--tags__item" href="">Корпус №3</a>
    <a class="org--tags__item" href="">Корпус №4</a>
    <a class="org--tags__item" href="">Корпус №5</a>
    <a class="org--tags__item" href="">Корпус №6</a>
    <a class="org--tags__item" href="">Корпус №12</a>
    <a class="org--tags__item" href="">Корпус №13</a>
</div>
