.scheme-edit {

  @media (min-width: 768px) AND (max-width: 1279px) {
    padding-right: 24px;
  }

  &--header {
    display: flex;
    align-items: center;
    margin: 0 0 32px;

    &__title {
      margin: 0;
      padding: 6px 0 0;
      line-height: 1;
      font-size: 20px;
      font-weight: 700;
      color: var(--font-d);
      order: 2;
    }

    &__back {
      flex: 0 0 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      margin-right: 20px;
      border-radius: 50%;
      background-color: var(--wbox-bg);
      box-shadow: 0 6px 6px 0 rgba(19, 34, 75, 0.06);
      order: 1;
      transition: background-color .3s ease-out;

      svg {
        display: block;
        width: 12px;
        height: 12px;
        fill: var(--font-d);
        transition: fill .3s ease-out;
      }

      &:hover {
        background-color: var(--green);

        svg {
          fill: #FFF;
        }
      }
    }
  }

  &--top {
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
      flex-direction: initial;
      justify-content: space-between;
    }

    &__formbox {
      flex: 1 1 auto;
      grid-column-gap: 32px;
      grid-template-columns: repeat(2, 1fr);
      box-sizing: border-box;
      order: 2;

      form {
        display: contents;
      }

      .select {
        max-width: 100%;
      }

      @media (min-width: 768px) {
        order: initial;
        padding-right: 20px;
      }

      @media (min-width: 768px) AND (max-width: 1279px) {
        display: block;
        flex: 0 0 calc(100% - 332px);
        max-width: calc(100% - 332px);
      }

      @media (min-width: 1280px) {
        display: grid;
        padding-right: 32px;
      }
    }

    .fieldset {
      margin-bottom: 20px;
    }

    &__name {
      grid-column: 1/1 span;
    }

    &__other {
      grid-column: 2/1 span;

      .select__header {
        height: 42px;
        padding: 13px 20px 13px 12px;
        background-color: var(--white-inverse);
      }
    }

    &__desc {
      grid-column: 1/2 span;
      grid-row: 2/1 span;
      max-width: 600px;
    }

    &__btns {
      grid-column: 1/1 span;
      grid-row: 3/1 span;
      display: flex;
    }

    .btn {
      flex: 0 0 120px;
      margin-right: 12px;
      font-size: 14px;
      color: var(--white-inverse);
      background-color: var(--font-d);

      &:hover {
        color: #FFF;
        background-color: var(--blue);
      }

      &_reset {
        color: var(--font-d);
        border: 1px solid currentColor;
        background-color: transparent;

        &:hover {
          border-color: var(--blue);
        }
      }

      @media (min-width: 1280px) {
        flex: 0 0 160px;
      }
    }

    label {
      line-height: 20px;
    }

    input {
      background-color: var(--white-inverse);
    }

    &__org {
      margin-bottom: 24px;

      @media (min-width: 768px) {
        flex: 0 0 312px;
        margin-bottom: initial;
      }
      @media (min-width: 1280px) {
        flex: 0 0 352px;
      }
    }

    .org--header {
      margin-top: 0;

      &__img {
        float: none;
        margin-bottom: 20px;
      }

      &__title,
      &__desc {
        margin-left: 0;
      }
    }

    + .white-box {
      margin-top: 32px;
    }
  }

  .list__container {
    overflow-x: auto;
    max-width: 100%;

    @media (min-width: 768px) {
      overflow-x: initial;
    }
  }
  .list__item,
  .list--filters {
    min-width: 760px;

    @media (min-width: 768px) {
      min-width: 588px;
    }

    @media (min-width: 1280px) {
      min-width: initial;
    }
  }

  .list,
  .list--filters {

    &__type {
      flex: 0 0 200px;
      max-width: 200px;
      padding-right: 8px;
      box-sizing: border-box;

      @media (min-width: 768px) AND (max-width: 1279px) {
        flex: 0 0 28%;
        max-width: 28%;
        padding-right: 8px;
      }

      @media (min-width: 1280px) {
        flex: 0 0 25%;
        max-width: 25%;
        padding-right: 20px;
      }
    }

    &__desc {
      flex: 0 0 180px;
      max-width: 180px;
      box-sizing: border-box;
      padding-right: 8px;

      @media (min-width: 768px) AND (max-width: 1279px) {
        flex: 0 0 100px;
        max-width: 100px;
      }

      @media (min-width: 1280px) {
        flex: 0 0 212px;
        max-width: 212px;
        padding-right: 20px;
      }
    }

    &__name {
      flex: 0 0 calc(100% - 200px - 180px - 40px - 100px - 84px);
      max-width: calc(100% - 200px - 180px - 40px - 100px - 84px);

      @media (min-width: 768px) AND (max-width: 1279px) {
        flex: 0 0 calc(100% - 28% - 100px - 40px - 100px - 84px);
        max-width: calc(100% - 28% - 100px - 40px - 100px - 84px);
      }

      @media (min-width: 1280px) {
        flex: 0 0 calc(100% - 25% - 212px - 60px - 120px - 100px);
        max-width: calc(100% - 25% - 212px - 60px - 120px - 100px);
      }
    }

    &__average {
      flex: 0 0 40px;
      display: flex;
      justify-content: flex-end;
      text-align: right;

      @media (min-width: 768px) AND (max-width: 1279px) {
        flex: 0 0 40px;
      }

      @media (min-width: 1280px) {
        flex: 0 0 60px;
      }
    }

    &__coords {
      flex: 0 0 100px;
      padding-left: 12px;
      box-sizing: border-box;

      @media (min-width: 768px) AND (max-width: 1279px) {
        flex: 0 0 100px;
        padding-left: 12px;
      }

      @media (min-width: 1280px) {
        flex: 0 0 120px;
        padding-left: 20px;
      }
    }

    &__btns {
      flex: 0 0 84px;

      @media (min-width: 768px) AND (max-width: 1279px) {
        flex: 0 0 84px;
      }

      @media (min-width: 1280px) {
        flex: 0 0 100px;
      }
    }

  }

  .list--filters {

    &__type {
      padding-left: 12px;

      @media (min-width: 768px) AND (max-width: 1279px) {
        padding-left: 12px;
      }
      @media (min-width: 1280px) {
        padding-left: 24px;
      }
    }

    &__name,
    &__desc {
      padding-left: 12px;
    }

    &__average {
      span {
        display: flex;
        max-width: 80px;
        margin-left: -40px;

        @media (min-width: 768px) AND (max-width: 1279px) {
          max-width: 80px;
          margin-left: -40px;
        }

        @media (min-width: 1280px) {
          max-width: 140px;
          margin-left: -80px;
        }
      }
    }

    &__coords {
      justify-content: flex-end;
      text-align: right;

      @media (min-width: 768px) AND (max-width: 1279px) {
        padding-right: 16px;
      }
    }

  }

  .list {

    &__item {

      &:nth-of-type(even) {
        background-color: var(--bg);
      }

      &:last-of-type {
        border-bottom: 1px solid var(--bg-1);
      }

      input {
        height: 36px;
        font-size: 14px;
        font-weight: 300;
        background-color: var(--white-inverse);
      }

    }

    &__type {
      padding-left: 4px;

      .select__header span {
        max-width: 210px;
        margin-right: 4px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      @media (min-width: 768px) AND (max-width: 1279px) {
        padding-left: 4px;

        .select__header span {
          max-width: 110px;
        }
      }

      @media (min-width: 1280px) {
        padding-left: 12px;
        margin-right: 4px;

        .select__header span {
          max-width: initial;
        }
      }
    }

    &__average {
      display: flex;
      align-items: center;

      svg {
        display: block;
        width: 15px;
        height: 15px;
      }
    }

    &__coords {
      input {
        padding: 8px;
      }
    }

    &__controls,
    &__updates {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    &__updates {
      display: flex;
    }

    &__controls {
      display: none;
    }

    &__btns {
      justify-content: flex-end;
    }

  }

  .scheme__switcher {
    .input-switcher span:before {
      background-color: var(--font-d);
    }
  }

  .scheme__status {
    display: none;
  }

  .scheme__change,
  .scheme__save,
  .scheme__cancel {

    svg {
      display: block;
      width: 24px;
      height: 24px;
    }
  }

  .scheme__change {
    padding-right: 4px;
    fill: var(--font-r);
    cursor: pointer;

    &:hover {
      svg {
        fill: var(--blue);
      }
    }
  }

  .scheme__save {
    padding-right: 8px;
    cursor: pointer;

    svg {
      fill: var(--green);
    }

    &:hover {
      svg {
        fill: var(--green-d);
      }
    }

    @media (min-width: 768px) AND (max-width: 1279px) {
      padding-right: 6px;
    }
  }

  .scheme__cancel {
    padding-right: 20px;
    cursor: pointer;

    svg {
      fill: var(--font-d);
    }
  }

  .select {
    min-width: calc(100% - 40px);
    max-width: 100%;
  }

  .select__header,
  .select__opt {

    .source-icon {
      flex: 0 0 16px;
      margin-right: 8px;
    }

    span,
    small {
      height: 16px;
      box-sizing: border-box;
    }

    span {
      flex: 1 1 auto;
      min-width: 50%;
    }

    small {
      flex: 0 0 50px;
      color: var(--font-r);
    }
  }

  .select__header {
    display: flex;
    padding: 12px 20px 8px 8px;
    background-color: var(--white-inverse);

    .source-icon {
      margin-top: -2px;
    }

    span {
      padding-top: 0;
    }

    small {
      padding-top: 1px;
    }

    @media (min-width: 768px) AND (max-width: 1279px) {
      padding: 12px 20px 8px 8px;
    }

    @media (min-width: 1280px) {
      padding: 12px 20px 8px 12px;
    }
  }

  .select__opt {
    padding-right: 20px;

    .source-icon {
      flex: 0 0 16px;
      margin-top: 2px;
    }

    span {
      padding-top: 0;
      margin-top: -1px;
    }

    small {
      box-sizing: border-box;
    }
  }


  .list__item.readonly {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    .scheme__switcher {
      display: none;
    }

    .scheme__switcher.checked + .scheme__status {
      display: block;
    }

    input,
    .select {
      pointer-events: none;
    }

    input,
    .select__header {
      border-color: transparent;
      background-color: transparent;
    }

    input {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .select__header {
      &:after {
        display: none;
      }
    }

    .list__coords input {
      text-align: right;
      padding-right: 0;
    }

    .list__controls {
      display: flex;
    }

    .list__updates {
      display: none;
    }

  }

  > .btn {
    width: 200px;
    margin: 24px auto 0 0;
    font-size: 14px;
  }


}

.scheme--placement {
  display: block;
  padding-top: 40px;

  @media (min-width: 768px) AND (max-width: 1279px) {
    display: block;
  }

  @media (min-width: 1280px) {
    display: flex;
  }

  &__container {
    position: relative;
    flex: 0 0 66.66%;
    height: 0;
    padding-top: 62.5%;
    margin: 0;
    box-sizing: content-box;
    border: 1px solid var(--bg-1);
    background-color: var(--bg);

    > small {
      position: absolute;
      display: block;
      padding: 10px;
      line-height: 10px;
      font-size: 6px;
      font-weight: 500;
      color: var(--font-r);
      letter-spacing: 0.5px;

      &:first-of-type {
        top: 0;
        left: 0;
      }
      &:nth-of-type(2) {
        top: 0;
        right: 0;
      }
      &:nth-of-type(3) {
        bottom: 0;
        left: 0;
      }
    }

    @media (min-width: 768px) AND (max-width: 1279px) {
      padding-top: 62.5%;
    }

    @media (min-width: 1280px) {
      padding-top: calc(0.6666 * 62.5%);
    }
  }

  &__labels {
    flex: 1 1 auto;
    padding: 0;
    margin: 32px 0 0;
    box-sizing: border-box;

    @media (min-width: 768px) AND (max-width: 1279px) {
      padding-left: 0;
      margin: 32px 0 0;
    }

    @media (min-width: 1280px) {
      padding: 0 0 0 32px;
      margin: 0 0 32px;
    }
  }

  &__label {
    position: relative;
    display: block;
    padding: 0 0 0 24px;
    margin: 12px 0 0;

    @media (min-width: 768px) {
      margin: 20px 0 0;
      padding: 0 0 0 30px;
    }

    &:first-of-type {
      margin-top: 0;
    }

    &:before {
      content: '';
      position: absolute;
      top: 6px;
      left: 0;
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: currentColor;
    }

    b, span {
      line-height: 18px;
      font-size: 14px;
      color: var(--font-d);
    }
    b {
      font-weight: 500;
    }
    span {
      font-weight: 300;
    }
  }

  &__dot {
    position: absolute;
    z-index: 10;
    display: flex;
    padding: 4px 8px 4px 8px;
    line-height: 16px;
    font-size: 12px;
    font-weight: 500;
    vertical-align: center;
    box-sizing: border-box;
    border: 1px solid currentColor;
    border-radius: 16px;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0.08;
      border-radius: 16px;
      background-color: currentColor;
    }

    span,
    b,
    .source-icon {
      position: relative;
      z-index: 2;
    }

    .source-icon {
      width: 14px;
      height: 14px;
      margin-right: 4px;
      border-radius: 5px;
    }

    span,
    b {
      font-weight: 500;
    }

    &:hover {
      color: #FFF;

      span,
      b {
        color: #FFF;
      }

      &:before {
        opacity: 1;
      }

      .source-icon {
        background-color: #FFF;
      }

    }

    @media (min-width: 768px) {
      padding: 10px 16px 10px 12px;
      line-height: 16px;
      font-size: 14px;
      border-radius: 20px;

      &:before {
        border-radius: 20px;
      }

      .source-icon {
        width: 16px;
        height: 16px;
        margin-right: 8px;
        border-radius: 6px;
      }
    }
  }
}
