.scheme {
  position: relative;

  &__refresh {
    display: flex;
    align-items: center;
    margin-top: 24px;
    line-height: 28px;
    font-size: 14px;
    font-weight: 500;
    color: var(--font-d);

    @media (min-width: 768px) {
      position: absolute;
      top: 40px;
      right: 32px;
      justify-content: flex-end;
      margin-top: 0;
    }

    svg {
      display: inline-block;
      width: 18px;
      height: 18px;
      margin: -2px 8px 0 0;
      fill: currentColor;
    }
  }

  &__wrapper {

    @media (min-width: 768px) {
      display: flex;
      position: relative;
    }

    &:before {

      @media (min-width: 768px) {
        content: '';
        position: absolute;
        left: 25%;
        top: 0;
        display: block;
        width: 1px;
        height: calc(100% + 32px);
        background-color: var(--bg-1);
      }

      @media (min-width: 768px) AND (max-width: 1279px) {
        left: 27%;
      }

      @media (min-width: 1280px) {
        left: 25%;
      }
    }
  }

  &__tabs {
    display: block;
    padding: 24px 0 0 0;
    margin: 0;
    box-sizing: border-box;

    @media (min-width: 768px) AND (max-width: 1279px) {
      flex: 0 0 27%;
      max-width: 27%;
      padding: 32px 24px 0 0;
    }

    @media (min-width: 1280px) {
      flex: 0 0 25%;
      max-width: 25%;
      padding: 32px 32px 0 0;
    }
  }

  &__tab {
    display: flex;
    align-items: center;
    height: 32px;
    padding: 0 16px;
    margin: 4px 0 0;
    list-style: none;
    border-radius: 6px;
    cursor: pointer;

    &:first-of-type {
      margin-top: 0;
    }

    &:hover {
      span {
        color: var(--blue);
      }
    }

    &.active {
      cursor: default;
      background-color: var(--light-inverse);

      span {
        color: var(--font-d);
      }
    }

    span,
    small {
      display: block;
      line-height: 32px;
      font-size: 14px;
      font-weight: 500;
    }

    span {
      flex: 0 0 calc(100% - 24px);
      max-width: calc(100% - 24px);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: var(--font-d);
      transition: color .3s ease-out;
    }

    small {
      flex: 0 0 24px;
      text-align: right;
      color: var(--font-r);
    }
  }

  &__boxes {
    flex: 1 1 auto;
    padding: 32px 0 0 0;
    box-sizing: border-box;

    @media (min-width: 768px) AND (max-width: 1279px) {
      padding: 32px 0 0 24px;
    }

    @media (min-width: 1280px) {
      padding: 32px 0 0 32px;
    }
  }

  &__item {
    display: flex;
    height: 72px;
    padding: 16px 0 16px 0;
    margin-top: 8px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: var(--bg);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);

    &:first-of-type {
      margin-top: 0;
    }
  }

  &__drag {
    flex: 0 0 32px;

    @media (min-width: 768px) {
      flex: 0 0 40px;
    }

    svg {
      display: block;
      width: 32px;
      height: 32px;
      margin: -5px 0 0;

      fill: var(--font-l);
    }
  }

  &__name,
  &__param {

    h4,
    span,
    small {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    h4,
    span {
      font-weight: 500;
      color: var(--font-d);
    }

    small {
      line-height: 16px;
      font-size: 12px;
      font-weight: 300;
    }
  }

  &__name {
    flex: 0 0 calc(50% - 32px);
    max-width: calc(50% - 32px);
    padding-right: 16px;
    box-sizing: border-box;

    @media (min-width: 768px) AND (max-width: 1279px) {
      flex: 0 0 calc(45% - 40px);
      max-width: calc(45% - 40px);
    }

    @media (min-width: 1280px) {
      flex: 0 0 calc(50% - 40px);
      max-width: calc(50% - 40px);
    }

    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 0;
      clear: both;
    }

    .source-icon {
      float: left;
      margin-top: 2px;
    }

    h4,
    small {
      max-width: calc(100% - 24px);
      margin: 0 0 0 24px;
    }

    h4 {
      padding: 0;
    }
  }

  &__param {
    flex: 0 0 calc(50% - 48px);
    max-width: calc(50% - 48px);
    padding-right: 16px;
    box-sizing: border-box;

    @media (min-width: 768px) AND (max-width: 1279px) {
      flex: 0 0 calc(55% - 48px);
      max-width: calc(55% - 48px);
    }

    @media (min-width: 1280px) {
      flex: 0 0 calc(50% - 48px);
      max-width: calc(50% - 48px);
    }

    span {
      svg {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin: 3px 0 0 2px;
        vertical-align: top;
      }
    }
  }

  .list--menu {
    height: 32px;
  }

  &__box {
    display: none;

    &.active {
      display: block;
    }

    .btn {
      height: 36px;
      width: 240px;
      margin: 12px auto 0 0;
      font-size: 14px;
    }
  }
  &__box &__item + .btn {
    margin-top: 28px;
  }
}

#admin-scheme-edit {
  .fieldsboxes {
    display: flex;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      display: block;
      width: 1px;
      height: 100%;
      background-color: var(--bg-1);
    }
  }
  .fieldsbox {
    flex: 0 0 50%;
    padding-bottom: 12px;
    box-sizing: border-box;

    &:first-of-type {
      padding-right: 40px;
    }
    &:last-of-type {
      padding-left: 40px;
    }
  }
  .fieldset,
  .select {
    margin-bottom: 12px;
  }
  .select {
    min-width: 100%;
  }
  .input-switcher {
    display: inline-block;
    margin: 4px 12px 0 0;
    vertical-align: top;

    span:before {
      background-color: #304156;
    }
  }
  .input-switcher + span {
    display: inline-block;
    margin-top: 4px;
    color: var(--font-d);
  }
}

.darktheme #admin-scheme-edit .input-switcher span:before {
  background-color: var(--blue);
}

#admin-scheme-attach {
  .select {
    min-width: 100%;
    margin-bottom: 24px;
  }
}



.he-tree .tree-node{
  border: 1px solid #ccc;
  margin-bottom: 5px;
  padding: 5px;
}
.he-tree--hidden{
  display: none;
}
.he-tree--rtl{
  direction: rtl;
}
.he-tree .tree-placeholder-node{
  background: #ddf2f9;
  border: 1px dashed #00d9ff;
  height: 20px;
}
.he-tree .dragging .tree-node-back:hover{
  background-color: inherit;
}

.e-point-tree .mls{
  margin-left: 5px;
}
.e-point-tree .mrs{
  margin-right: 5px;
}
.e-point-tree .tree-node{
  padding: 0;
  border: none;
}
.e-point-tree .node-content{
  display: flex;
}
.e-point-tree .node-content .fold-btn{
  display: flex;
  justify-content: center;
  width: 22px;
  border-radius: 100%;
  border: none;
  background: #fcf1a8;
}
.e-point-tree .tree-node-back:hover{
  //background: #f5f5f5;

  .scheme__drag svg {
    fill: var(--font-d);
  }
}
.e-point-tree .header{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.e-point-tree .footer{
  border-top: 1px solid #ccc;
  margin-top: 10px;
}
.right {
  float: right;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #679932;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
