.site {

  &--wrapper {
    position: relative;
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    padding-left: 24px;
    padding-right: 24px;
    overflow: hidden;
    box-sizing: border-box;
    transition: padding-left .3s ease-out;

    @media (min-width: 768px) {
      padding-left: 96px;
      padding-right: 36px;
    }

    @media (min-width: 1025px) {
      overflow: initial;
      padding-left: 276px; // 240px + 36px
    }

    @media (min-width: 1280px) AND (max-width: 1365px) {
      padding-right: 20px;
      padding-left: 260px;
    }

    &.collapsed {
      @media (min-width: 768px) {
        padding-left: 96px; // 60px + 36px
      }
    }
  }

  &--header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
    margin: 0 0 8px;

    &:before {
      content: '';
      position: absolute;
      top: 71px;
      left: -24px;
      display: block;
      height: 1px;
      width: calc(100% + 48px);
      background-color: var(--bg-1);
    }

    .breadcrumb {
      order: 2;
      flex: 0 0 100%;
      margin-top: 24px;
    }

    .informer {
      margin-bottom: 16px;

      @media (min-width: 768px) {
        margin-bottom: 0;
      }
    }

    @media (min-width: 768px) {
      position: initial;
      left: 0;
      flex-wrap: nowrap;
      height: 40px;
      width: 100%;
      padding: 24px 0;
      margin: 0;

      &:before {
        display: none;
      }

      .breadcrumb {
        order: initial;
        flex: initial;
        margin-top: 8px;
      }
    }

    &__menu {
      position: relative;
      width: 46px;
      height: 40px;
      cursor: pointer;
      margin-bottom: 16px;

      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 14px;
        height: 2px;
        background-color: var(--font-r);
        transform-origin: 50% 50%;
        transition: transform .3s ease-out;
      }
      &:before {
        transform: translate3d(0,-3px,0);
      }
      &:after {
        transform: translate3d(0,3px,0);
      }

      @media (min-width: 768px) {
        display: none;
      }
    }
  }

  &--content {
    position: relative;
    width: 100%;
    max-width: 1300px;
    min-height: 100vh;
    margin: 0 auto;
    padding-bottom: 92px; // 36px + 20px + 36px;
    box-sizing: border-box;
    transform: translate3d(240px, 0, 0);
    transition: transform .3s ease-out;

    @media (min-width: 768px) {
      transform: translate3d(180px, 0, 0);}

    @media (min-width: 1025px) {
      transform: none;
    }
  }
  .collapsed &--content {
    transform: translate3d(0, 0, 0);
  }

  &--footer {
    position: absolute;
    left: 0;
    bottom: 36px;
    display: flex;
    align-items: center;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: var(--font-l);
  }
}

.white-box {
  margin-top: 20px;
  padding: 32px 16px;
  margin-left: -16px;
  margin-right: -16px;
  border-radius: 12px;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.04);
  background-color: var(--wbox-bg);

  &:first-child {
    margin-top: 0;
  }


  @media (min-width: 768px) {
    padding: 32px 32px 32px 24px;
    margin-left: 0;
    margin-right: 0;
  }
}
