@font-face {
  font-display: swap;
  font-family: 'MuseoSans';
  src: local('☞MuseoSansCyrl-300'), local('MuseoSansCyrl-300'),
  url('/static/build/fonts/MuseoSansCyrl-300.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'MuseoSans';
  src: local('☞MuseoSansCyrl-500'), local('MuseoSansCyrl-500'),
  url('/static/build/fonts/MuseoSansCyrl-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'MuseoSans';
  src: local('☞MuseoSansCyrl-700'), local('MuseoSansCyrl-700'),
  url('/static/build/fonts/MuseoSansCyrl-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'MuseoSans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: var(--font-r);
  background-color: var(--bg);
}
h1 {
  color: var(--font-d);
}

.title {
  line-height: 26px;
  font-size: 18px;
  font-weight: 700;
}
